ShopOnlineSolution/.vs/
ShopOnlineSolution/ShopOnline.Api/bin/
ShopOnlineSolution/ShopOnline.Api/obj/
ShopOnlineSolution/ShopOnline.Models/obj/
ShopOnlineSolution/ShopOnline.Web/bin/
ShopOnlineSolution/ShopOnline.Web/obj/
ShopOnlineSolution/ShopOnline.Models/bin/
